flows/Approve_Reject_Pull_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>Reviewers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Review_Approver__c</object>
        <outputAssignments>
            <assignToReference>SelectedReviewer.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Review_Status__c</picklistField>
        <picklistObject>Review_Approver__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>reviewComments</name>
        <dataType>String</dataType>
        <expression>{!Reviewer_Comments} &amp; BR() + {!Get_Reviewer.Name} + &apos; &apos; + TEXT({!$Flow.CurrentDateTime}) + BR() + BR()+ {!Get_Reviewer.Comments__c}</expression>
    </formulas>
    <interviewLabel>Approve/Reject Pull Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve/Reject Pull Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Reviewer</name>
        <label>Get Reviewer</label>
        <locationX>318</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Reviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewersValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Review_Approver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>478</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Reviewer</name>
        <label>Update the Reviewer</label>
        <locationX>479</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedReviewer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>reviewComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Status__c</field>
            <value>
                <elementReference>StatusValues</elementReference>
            </value>
        </inputAssignments>
        <object>Review_Approver__c</object>
    </recordUpdates>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>483</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Submitted the Review successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test</name>
        <label>Test</label>
        <locationX>477</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Reviewer</targetReference>
        </connector>
        <fields>
            <name>ReviewersValue</name>
            <choiceReferences>Reviewers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reviewers</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReviewStatus</name>
            <choiceReferences>StatusValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Review Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reviewer_Comments</name>
            <fieldText>Reviewer Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dev_Comments</name>
            <defaultValue>
                <stringValue>{!Get_User_Story.Developer_Comments__c}</stringValue>
            </defaultValue>
            <fieldText>Dev Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>349</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PreviousValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedReviewer.Comments__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>User Story Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedReviewer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Review_Approver__c</objectType>
    </variables>
</Flow>
