flows/Review_Changes_Email_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Status_change_Email</name>
        <label>Send Status change Email</label>
        <locationX>343</locationX>
        <locationY>574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>StatusChangeTemplateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>StatusChangeSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submitted_for_ReReview</name>
        <label>Submitted for ReReview</label>
        <locationX>726</locationX>
        <locationY>585</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForReReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectForReReview</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Email_to_the_list</name>
        <label>Add Email to the list</label>
        <locationX>343</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User_Story__r.copado__Developer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Status_change_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_List_for_Reviewer</name>
        <label>Email List for Reviewer</label>
        <locationX>727</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Reviewer__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submitted_for_ReReview</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_re_review</name>
        <label>Is re-review</label>
        <locationX>504</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Add_Email_to_the_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Rereview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_List_for_Reviewer</targetReference>
            </connector>
            <label>Is Rereview</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Review Changes Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review Changes Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_re_review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Review_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Review_Approver__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email body to be sent to Reviewers</description>
        <name>EmailBodyForReReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://jadeglobalinc.lightning.force.com/lightning/r/copado__User_Story__c/{!$Record.User_Story__c}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://jadeglobalinc.lightning.force.com/lightning/r/copado__User_Story__c/{!$Record.User_Story__c}/view&lt;/a&gt; has been resubmitted for your review.&lt;/p&gt;&lt;p&gt;Kindly review the changes within 24 hours&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see the Developer Comments below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.User_Story__r.Developer_Comments__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email sent to the Reviewers</description>
        <name>EmailSubjectForReReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Record.User_Story__r.Name} has been Resubmitted for your review</text>
    </textTemplates>
    <textTemplates>
        <name>StatusChangeSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Record.Name} Changed your Code review to {!$Record.Review_Status__c} for {!$Record.User_Story__r.copadoccmint__JIRA_key__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>StatusChangeTemplateBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.User_Story__r.copado__Developer__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Name} has {!$Record.Review_Status__c} your changes for - &lt;a href=&quot;https://jadeglobalinc.lightning.force.com/lightning/r/copado__User_Story__c/{!$Record.User_Story__r.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://jadeglobalinc.lightning.force.com/lightning/r/copado__User_Story__c/&lt;/a&gt;&lt;a href=&quot;https://jadeglobalinc.lightning.force.com/lightning/r/copado__User_Story__c/{!$Record.User_Story__r.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.User_Story__r.Id}&lt;/a&gt;&lt;a href=&quot;https://jadeglobalinc.lightning.force.com/lightning/r/copado__User_Story__c/{!$Record.User_Story__r.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;/view&lt;/a&gt; User Story. Please review the User Story in Copado&lt;/p&gt;&lt;p&gt;Please see the comments below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Comments__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks and Regards,&lt;/p&gt;&lt;p&gt;Copado Team.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
